@import "./fonts.scss";
@import "./Funcs&mixins.scss";

* {
    height: fit-content;
    width: fit-content;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration-color: unset;
    scrollbar-width: thin;
}

html,
#root {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

.App {
    height: 100vh;
    width: auto;
    max-width: 1800px;

    display: flex;
    flex-direction: column;
    gap: 45px;

    overflow: hidden scroll;
    scroll-behavior: smooth;

    .nav {
        min-height: clamp(40px, 45px, 15vh);
        width: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
gap: 0;

        padding: 0;
        z-index: 1000;
        position: sticky;
        top: 0;

        background: #00000000;

        .logoDiv {
            height: 100%;
            padding: 0 25px 0 45px;
            display: flex;
            align-items: center;
            box-sizing: border-box;

            background: #000000e1;
            backdrop-filter: blur(14px);

            img {
            }
        }
            .wrap {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: right;

                gap: 25px;
                padding: 0 45px 0 25px;
                
                            background: #000000e1;
                            backdrop-filter: blur(14px);
                
                .dropDownMenu {
                    padding: 0;
                }
            }
        


        @include sc("sm") {
            flex-direction: row;
            justify-content: space-between;

            img {
                position: static;
            }
        }

        @include sc("md") {
            flex-direction: row;

            &::before {
                content: "";
                height: 45px;
                display: none;
            }
        }
    }

    .wraper {
        display: flex;
        flex-direction: row;
        gap: 45px;

        @include sc("mn") {
            padding: 0 25px;
        }

        @include sc("sm") {
            padding: 0 45px;
        }
    }
}
