*{
    text-decoration: unset;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;400;600;700&display=swap');
@mixin h3-rg {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
@mixin h3-bd {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
@mixin h4-rg {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
@mixin h4-bd {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
@mixin h5-rg {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
@mixin h5-bd {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 700;
    font-size: 14px;
}
@mixin h6-rg {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
@mixin h6-bd {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 700;
    font-size: 9px;
}

