@import "./fonts.scss";


.overview-wrap {
    height: 100vh;
    width : 100vw;

display: flex;
align-items: flex-start;
justify-content: center;

    position: fixed;
    top     : 0%;
    left    : 0%;
    z-index : 10000;
    overflow: hidden scroll;

    background     : #00000030;
    backdrop-filter: blur(4px);

    padding: 145px 0 ;
    .overview {
        height: 2000px;
        width : clamp(55vw, 1000px, 95vw);


        padding   : 25px;
        background: #fff;

        .title {
            @include h3-bd;
        }
    }

}
.hidden {
    display: none;
}
